.card{
    position: relative;
}

.card__image{
    height: 413px;
    width: 413px;
    list-style-type: none;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    cursor: pointer;
}

.card__like-button{
    background-image: url(../images/like.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .4;
}

.card__like-button_is-active {
    background-image: url(../images/Heart.svg);
}

.card__like-button:hover{
    cursor: pointer;
    opacity: 1
}

.card__delete-btn {
    background-image: url(../images/Trash\ default.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.card__delete-btn:hover{
    cursor: pointer;
    background-image: url(../images/Trash\ hover.svg);
}

.card__content{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.card__title{
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    line-height: 120%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 360px;
    color: #212121;
    font-weight: 500;
}

@media screen and (max-width: 627px){
    .card__image{
        height: 288px;
        width: 288px;
    }

    .card__title{
        font-size: 16px;
        max-width: 250px;
    }
}